.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper > * {
  margin-bottom: 1rem;
}

@media (min-width: 500px) {
  .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .wrapper > * {
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
}
